{% extends 'layout.html' %}
{% block contentblock %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-cetenr">

  <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
    <h1>Enjoy Fast and Secure Transaction of your Cryptocurrencies</h1>
    <h2>Welcome to the world of Crypto.</h2>
    <a href="#about" class="btn-get-started scrollto">Who Are We?</a>
    <img src="static/img/hero-img.png" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    <!-- {% block home %}{% endblock %} -->
  </div>

</section><!-- End Hero -->
{% endblock %}

{% block aboutblock %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row no-gutters">
      <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-right">
        <div class="content">
          <h3>Who Are We?</h3>  
          <p>
            We wants to make everyone familiarize with the Blockchain using this dummy website. Visit the Github page to know more.
          </p>
          <p>
            Keep your Cryptocurrentcies safe in your digital wallet. Haven't started yet?
          </p>
          <a href="/signup" class="about-btn">Register Now <i class="bx bx-chevron-right"></i></a>
        </div>
      </div>
    </div>
    <!-- {% block about %}{% endblock %} -->
  </div>
</section>
<!-- End About Section -->
{% endblock %}